extends layout

block content
  .container
    header.profile-header
      h1.welcome-text Welcome #{user.name}!
      p.date-text= new Date().toLocaleDateString('en-US', { weekday: 'short', day: '2-digit', month: 'long', year: 'numeric' })

    .profile-form-container
        .settings-bar
          img.settings-bar-image(src="/images/setting-bar-image.png" alt="Settings Bar")

        form(action="/users/profile" method="POST" enctype="multipart/form-data")
          .profile-info
            .user-details.d-flex.align-items-center.justify-content-between
              if user.profileImage
                img.profile-pic(src=user.profileImage alt="Profile Image" style="width: 80px; height: 80px;")
              .user-details-text
                h2= user.name
                p.useremail= user.email
            .button-section.text-right
              button.btn.btn-primary(type="submit") Update

          .form-section
            .form-row
              .form-group
                label(for="name") Full Name
                input#name.form-control(type="text" name="name" value=user.name readonly)
              .form-group
                label(for="nickname") Nickname
                input#nickname.form-control(type="text" name="nickname" value=user.nickname)
            .form-row
              .form-group
                label(for="gender") Gender
                select#gender.form-control(name="gender")
                  option(value="" selected=!user.gender) Select Gender
                  option(value="male" selected=user.gender==='male') Male
                  option(value="female" selected=user.gender==='female') Female
                  option(value="other" selected=user.gender==='other') Other
              .form-group
                label(for="country") Country
                select#country.form-control(name="country")
                  option(value="" selected=!user.country) Select Country
                  option(value="CA" selected=user.country==='CA') Canada
                  option(value="US" selected=user.country==='US') United States
                  option(value="JP" selected=user.country==='JP') Japan
            .form-row
              .form-group
                label(for="language") Language
                select#language.form-control(name="language")
                  option(value="" selected=!user.language) Select Language
                  option(value="en" selected=user.language==='en') English
                  option(value="fr" selected=user.language==='fr') French
                  option(value="ja" selected=user.language==='ja') Japanese
              .form-group
                label(for="timeZone") Time Zone
                select#timeZone.form-control(name="timeZone")
                  option(value="" selected=!user.timeZone) Select Time Zone
                  option(value="America/Toronto" selected=user.timeZone==='America/Toronto') Eastern Time (ET)
                  option(value="America/Vancouver" selected=user.timeZone==='America/Vancouver') Pacific Time (PT)
                  option(value="Asia/Tokyo" selected=user.timeZone==='Asia/Tokyo') Japan Time (JST)
